DATABASE_URL='postgresql://root:root@localhost:5432/alpaca'


CLOUDINARY_CLOUD_NAME='xxxxxxxxxxxxxxxx'
CLOUDINARY_API_KEY='xxxxxxxxxxxxxxxxxx'
CLOUDINARY_API_SECRET='xxxxxxxxxxxxxxxx'
CLOUDINARY_URL='xxxxxxxxxxxxxxxxxx'